@tailwind base;
@tailwind components;
@tailwind utilities;

.masonary-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-auto-rows: 20px;
  gap: 10px;
}

.card{
  overflow-y: scroll;
  padding: 20px;
}

.small {
  grid-row-end: span 16;
}

.medium {
  grid-row-end: span 20;
}

.large {
  grid-row-end: span 22;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .card {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color-300) var(--background);
    cursor: pointer;
  }

  /* Chrome, Edge, and Safari */
  .card::-webkit-scrollbar {
    width: 8px;
  }

  .card::-webkit-scrollbar-track {
    background: var(--background);
  }

  .card::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-300);
    border-radius: 10px;
    border: 0px solid var(--font-col1);
  }

.no-tailwind *{
  all: revert;
}

.no-tailwind img{
  max-width: 100%;
}
