@tailwind base;
@tailwind components;
@tailwind utilities;

.masonary-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-auto-rows: 20px;
  gap: 10px;
}

.card{
  overflow-y: scroll;
  padding: 20px;
}

.small {
  grid-row-end: span 16;
}

.medium {
  grid-row-end: span 20;
}

.large {
  grid-row-end: span 22;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .card {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color-300) var(--background);
    cursor: pointer;
  }

  /* Chrome, Edge, and Safari */
  .card::-webkit-scrollbar {
    width: 8px;
  }

  .card::-webkit-scrollbar-track {
    background: var(--background);
  }

  .card::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-300);
    border-radius: 10px;
    border: 0px solid var(--font-col1);
  }

.no-tailwind *{
  all: revert;
}

.no-tailwind img{
  max-width: 100%;
}


.github-ribbon {
  position: fixed;
  top: -35px;
  right: -114px;
  padding: 1px 0;
  transform-origin: top left;
  transform: rotate(45deg);
  background-color: #ea7600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  z-index: 1;
}

.github-ribbon__link {
  display: inline-block;
  width: 250px;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  text-shadow: 0 -1px #777;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-top: 1px dotted #ffc284;
  border-bottom: 1px dotted #ffa951;
}